html {
  background-color: rgb(89, 131, 223);
  background-image: url("jetris-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 20pt;
  font-family: "Press Start 2p";
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: rgb(252, 62, 62);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
}

#content_container {
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

div.taken {
  outline: none;
}

.game-info {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-right: 20%;
  margin-left: 20%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-button {
  font-size: 20pt;
  font-family: "Press Start 2p";
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}

#controls {
  /* border-radius: 8px;
  border: 5px solid hsl(0, 0%, 40%);
  padding: 5px;
  background: whitesmoke;
  box-shadow: 0 0 0 5px rgba(245, 243, 243, 0.8); */
  padding: 5px;
  outline: 8px ridge rgba(100, 255, 53, 0.8);
  background: whitesmoke;
  font-size: 10pt;
  font-family: "Press Start 2p";
  margin-right: 20px;
}

.label {
  font-size: 12pt;
  font-family: "Press Start 2p";
  color: rgb(252, 62, 62);
  justify-content: left;
  margin-left: 50px;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(175, 175, 175);
  outline: 8px ridge rgba(100, 255, 53, 0.8);
}

.gridLvl2 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(154, 199, 154);
}

.gridLvl3 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(166, 237, 255);
}

.gridLvl4 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 236, 255);
}

.gridLvl5 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 219, 189);
}

.gridLvl6 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 193, 193);
}

.gridLvl7 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(114, 114, 114);
}

.gridLvl8 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}

.gridLvl9 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
}

.gridLvl10 {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.grid div {
  height: 20px;
  width: 20px;
  /* outline: 1px solid silver; */
}

.tetromino {
  background-color: gold;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.lTetromino {
  background-color: rgb(255, 145, 0);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.jTetromino {
  background-color: crimson;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.sTetromino {
  background-color: hotpink;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.zTetromino {
  background-color: forestgreen;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.tTetromino {
  background-color: royalblue;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.oTetromino {
  background-color: lime;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.iTetromino {
  background-color: rgb(0, 225, 255);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.mini-grid {
  margin-left: 50px;
  width: 140px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  outline: 8px ridge rgba(100, 255, 53, 0.8);
  margin-bottom: 20px;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

.hold-grid {
  margin-right: 50px;
  width: 140px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  outline: 8px ridge rgba(100, 255, 53, 0.8);
  margin-bottom: 20px;
}

.hold-grid div {
  width: 20px;
  height: 20px;
}

.upNext-grid div {
  width: 20px;
  height: 20px;
}
